.btn {
  box-shadow: none;
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background 0s, border 0s;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.786rem 1.5rem;
  border-radius: 0.358rem;
  color: $white;

  &.disabled, &:disabled {
    opacity: 0.65;
  }

  &-primary {
    border-color: $primary;
    background-color: $primary;

    &:hover, &:focus {
      &:not(.disabled):not(:disabled) {
        box-shadow: 0 8px 25px -8px $primary;
        border-color: $primary;
        background-color: darken($primary, 2%);
      }
    }
  }

  &-success {
    border-color: $success;
    background-color: $success;

    &:hover, &:focus {
      &:not(.disabled):not(:disabled) {
        box-shadow: 0 8px 25px -8px $success;
        border-color: $success;
        background-color: darken($success, 2%);
      }
    }
  }

  &-secondary {
    border-color: $secondary;
    background-color: $secondary;

    &:hover, &:focus {
      &:not(.disabled):not(:disabled) {
        box-shadow: 0 8px 25px -8px $secondary;
        border-color: $secondary;
        background-color: darken($secondary, 2%);
      }
    }
  }

  &-warning {
    border-color: $warning;
    background-color: $warning;
    color: $white;

    &:hover, &:focus {
      &:not(.disabled):not(:disabled) {
        box-shadow: 0 8px 25px -8px $warning;
        border-color: $warning;
        background-color: darken($warning, 2%);
        color: $white;
      }
    }

    &:disabled {
      color: $white;
    }
  }

  &:not(.disabled):not(:disabled) {
    cursor: pointer;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 1rem;
  padding: 0.486rem 1rem;
}

