$blue: #00cfe8;
$black: #22292f;
$indigo: #6610f2;
$purple: #7367f0;
$purple-light: #d8d4fb;
$purple-dark: #4c4993;
$pink: #e83e8c;
$red: #ea5455;
$orange: #ff9f43;
$orange-light: #ffe4ca;
$brown: #956639;
$yellow: #ffc107;
$green: #28c76f;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$grey: #b8c2cc;
$grey-dark: #1e1e1e;
$grey-dark2: #54595f;

$primary: $purple;
$secondary: #82868b;
$secondary-border-color: #dcdddf;
$success: #28c76f;
$success-background: #e8f9f0;
$success-border-color: #c3efd7;
$success-text-color: #257b50;
$info: #00cfe8;
$info-background-color: #e3fafc;
$info-border-color: #b8f2f9;
$info-text-color: #107f8f;
$warning: #ff9f43;
$danger: #ea5455;
$danger-background: #fef4f4;
$danger-border-color: #fef4f4;
$danger-text-color: #8a3f43;

$light: #f6f6f6;
$dark: #4b4b4b;
$default-text-color: #6e6b7b;
$light-grey: #f8f8f8;

$input-label-color: #5e5873;
$input-border-color: #d8d6de;

$black-border-color: #1f292f;

$table-header-bg: #f3f2f7;

$link-hover-color: darken($primary, 15%) !default;

$box-shadow: 0 4px 24px 0 rgba($black, 0.1);
