$blue: #00cfe8;
$black: #22292f;
$indigo: #6610f2;
$purple: #7367f0;
$pink: #e83e8c;
$red: #ea5455;
$orange: #ff9f43;
$yellow: #ffc107;
$green: #28c76f;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$grey: #b8c2cc;
$grey-dark: #1e1e1e;

$primary: $purple;
$secondary: #82868b;
$success: #28c76f;
$info: #00cfe8;
$warning: #ff9f43;
$danger: #ea5455;

$light: #f6f6f6;
$dark: #4b4b4b;
$default-text-color: #6e6b7b;
$light-grey: #f8f8f8;

$input-label-color: #5e5873;
$input-border-color: #d8d6de;

$black-border-color: #1f292f;

$link-hover-color: darken($primary, 15%) !default
