.openable-container {
  .openable-options {
    border-radius: 0.358rem;
    box-shadow: 0 5px 25px rgba($black-border-color, 10%);
    position: absolute;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba($black-border-color, 5%);
    padding: 0.5rem 0;
    z-index: 10;
    min-width: 10rem;
    font-size: 1rem;
    right: 0;
    width: 12rem;
    top: 24px;
    margin-top: 0.5rem;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: slideIn;
    transform: scaleY(0);
    display: none;

    .option {
      line-height: 1.5;
      padding: 0.65rem 1.28rem;
      clear: both;
      text-align: inherit;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      i {
        margin-right: 6px;
      }

      &:hover {
        background-color: rgba($primary, 12%);
        color: $primary;
        text-decoration: none;
      }
    }

    .separator {
      border-top: 1px solid rgba($black-border-color, 8%);
    }
  }


  &.show {
    .openable-options {
      display: block;
      transform: scale(1);
    }
  }
}
