.openable-container {
  position: relative;

  .openable-options {
    top: 56px;
    width: 100%;
    padding: 0;
    border-radius: 0.5rem;
    max-height: 18.5rem;
    overflow: auto;
    box-shadow: 0 5px 25px rgba($black-border-color, 10%);
    position: absolute;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba($black-border-color, 5%);
    z-index: 10;
    min-width: 10rem;
    font-size: 1rem;
    right: 0;
    margin-top: 0.5rem;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: slideIn;
    transform: scaleY(0);
    display: none;

    .option {
      line-height: 1.5;
      padding: 0.65rem 1.28rem;
      clear: both;
      text-align: inherit;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      svg {
        margin-right: 6px;
      }

      &:hover {
        background-color: rgba($primary, 12%);
        color: $primary;
        text-decoration: none;
      }
    }

    .option.selected {
      color: $white;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        margin: 0;
      }
    }

    .no-matching {
      cursor: default;
      user-select: none;
    }
  }

  .form-control {
    &::placeholder {
      color: $default-text-color !important;
    }

    &:focus {
      &::placeholder {
        color: $grey !important;
      }
    }
  }

  .input-select {
    position: relative;

    .square {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 36px;
      width: 36px;
      bottom: 0;
      right: 0;

      svg {
        transition: transform 0.2s ease;
      }
    }
  }

  &.show {
    .input-select {
      svg {
        transform: rotate(-180deg);
      }
    }
    .openable-options {
      display: block;
      transform: scale(1);
    }
  }
}
