@import "color";

.b-rating {
  color: $orange;
  display: flex;
  align-items: center;

  .b-rating-icon {
    display: flex;
    align-items: center;
  }

  .b-rating-value {
    color: $default-text-color;
  }

  &:not(.readonly) {
    cursor: pointer;
  }
}
