.b-form-btn-label-control.form-control {
  display: flex;
  align-items: stretch;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: 0.438rem;
  height: 36px;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.show {
    border-color: $primary;
    box-shadow: 0 3px 10px 0 rgba($black, 0.1);
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    order: -1;
    padding-left: 14px;
  }

  .btn {
    color: lighten($black, 15%);
    display: flex;
    align-items: center;

    &.h-auto {
      padding: 11px 11px;
    }
  }

  .dropdown-menu {
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;

    &.show {
      display: block;
      position: absolute;
      will-change: transform;
      top: 0;
      left: 0;
    }

    .b-time {
      min-width: 150px;

      .b-time-header {
        margin-bottom: 0.5rem;

        output {
          padding: 0.25rem;
          font-size: 80%;
        }
      }
    }

    .text-center {
      text-align: center !important;
    }

    .flex-column {
      flex-direction: column !important;
    }

    .d-inline-flex {
      display: inline-flex !important;
    }

    .b-time-header {
      border: 1px solid lighten($grey, 15%);
      margin: 0 5px;
      border-radius: .357rem;
    }

    .d-flex {
      display: flex;
      padding: 5px 5px;

      .b-form-spinbutton {
        border: 1px solid lighten($grey, 15%);
        border-radius: .357rem;

        &:last-child {
          margin-left: 0.5rem;
        }

        button {
          padding: 2px 14px;
        }
      }

      .flex-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    .b-form-date-controls {
      display: flex;
      justify-content: right;

      .btn {
        border: 1px solid lighten($grey, 15%);
        transition: all 0.15s ease-in-out;
        &:hover {
          background-color: $primary;
          box-shadow: 0 8px 25px -8px $primary;
          color: white;
        }
      }
    }

  }
}
