@import "src/scss/components/color";

$toast-max-width: 350px;
$toast-font-size: .875rem;
$toast-color: null;
$toast-background-color: rgba($white, .85);
$toast-border-width: 1px;
$toast-border-color: rgba($black, .1);
$toast-box-shadow: 0 .5rem 1rem rgba($black, .15);
$toast-border-radius: .25rem;
$toast-padding-x: .75rem;

.toaster-top-right {
  position: fixed;
  height: 0;
  overflow: visible;
  top: 1rem;
  right: 1rem;
  width: 350px;
  box-sizing: border-box;
}

.toast {
  width: $toast-max-width;
  max-width: 100%;
  font-size: $toast-font-size;
  color: $toast-color;
  pointer-events: auto;
  background-color: $toast-background-color;
  background-clip: padding-box;
  border: $toast-border-width solid $toast-border-color;
  box-shadow: $toast-box-shadow;
  border-radius: $toast-border-radius;

  &.showing {
    opacity: 0;
  }

  //&:not(.show) {
  //  display: none;
  //}
}

//.toast-container {
//  width: max-content;
//  max-width: 100%;
//  pointer-events: none;
//
//  > :not(:last-child) {
//    margin-bottom: $toast-spacing;
//  }
//}
//
//.toast-header {
//  display: flex;
//  align-items: center;
//  padding: $toast-padding-y $toast-padding-x;
//  color: $toast-header-color;
//  background-color: $toast-header-background-color;
//  background-clip: padding-box;
//  border-bottom: $toast-border-width solid $toast-header-border-color;
//  @include border-top-radius(subtract($toast-border-radius, $toast-border-width));
//
//  .btn-close {
//    margin-right: $toast-padding-x * -.5;
//    margin-left: $toast-padding-x;
//  }
//}

.toast-body {
  padding: $toast-padding-x; // apply to both vertical and horizontal
  word-wrap: break-word;
}
