$fa-font-path: './../node_modules/font-awesome/fonts';
@import "./node_modules/font-awesome/scss/font-awesome";
@import "reset";

@import "components/variables";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap-vue/src/variables";

@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap-vue/src/components/table/index";
@import "node_modules/bootstrap-vue/src/components/pagination/index";
@import "node_modules/bootstrap-vue/src/components/modal/index";
@import "vuexy/pagination";

@import "components/buttons";
@import "components/table";
@import "components/dropdown";
@import "components/modal";
@import "components/form-rating";

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat", Helvetica, Arial, serif;
  --font-family-monospace: "Montserrat", Helvetica, Arial, serif;
}

html {
  font-size: 14px;
  height: 100%;
  letter-spacing: 0.01rem;
  font-family: sans-serif;
  line-height: 1.15;
}

html body {
  height: 100%;
}


body {
  overflow-x: hidden;
  text-align: left;
  background-color: $light-grey;
  direction: ltr;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: $default-text-color;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: darken($primary, 5%);
  text-decoration: none;
}

h2, .h2 {
  font-size: 1.714rem;
}

h5, .h5 {
  font-size: 1.07rem;
  font-weight: 500;
}

.text-primary {
  color: $primary;
}


@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

.content-block {
  margin-bottom: 2rem;
  box-shadow: $box-shadow;
  background-color: $white;
  background-clip: border-box;
  border: none;
  border-radius: 0.428rem;
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
}

.router-container {
  padding: 0 2rem;
}

.text-muted {
  color: $text-muted !important;
}
