$fa-font-path: './../node_modules/font-awesome/fonts';
@import "./node_modules/font-awesome/scss/font-awesome";
@import "reset";
@import "components/color";
@import "components/buttons";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


@import "node_modules/bootstrap-vue/src/variables";

@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap-vue/src/components/toast/index";

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat", Helvetica, Arial, serif;
  --font-family-monospace: "Montserrat", Helvetica, Arial, serif;
}

html {
  font-size: 14px;
  height: 100%;
  letter-spacing: 0.01rem;
  font-family: sans-serif;
  line-height: 1.15;
}

html body {
  height: 100%;
}


body {
  overflow-x: hidden;
  text-align: left;
  background-color: $light-grey;
  direction: ltr;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  color: $default-text-color;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: darken($primary, 5%);
  text-decoration: none;
}

h2, .h2 {
  font-size: 1.714rem;
}

.text-primary {
  color: $primary;
}
